---
http_interactions:
- request:
    method: get
    uri: http://dev.markitondemand.com/MODApis/Api/v2/Quote/json?symbol=TSLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"Status":"SUCCESS","Name":"Tesla Inc","Symbol":"TSLA","LastPrice":303.86,"Change":-6.49000000000001,"ChangePercent":-2.09118736909941,"Timestamp":"Tue
        May 23 00:00:00 UTC-04:00 2017","MSDate":42878,"MarketCap":49912043600,"Volume":4318354,"ChangeYTD":213.69,"ChangePercentYTD":42.1966399925125,"High":310.73,"Low":303.48,"Open":310.46}'
  recorded_at: Wed, 24 May 2017 04:07:49 GMT
recorded_with: VCR 3.0.3
